# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\BaiduNetdiskDownload\06-Spring\01-第一天\课件资料\课件资料\代码\代码\备份\spring_day01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
